<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daisy Zone</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
</head>
<body>
<h1>this is daisy.zone</h1>
<h3>
I don't know what I'm doing so there's nothing here.
</h3>
<br/>
<br/>
Find me on these much better websites instead:
<br/>
professional twitter: <a href="https://twitter.com/zdxdz">zdxdz</a>
<br/>
unprofessional twitter: <a href="https://twitter.com/dzbug">dzbug</a>
<br/>
github: <a href="https://github.com/daisyzhou">daisyzhou</a>
<br/>
the ol' LinkedIn: <a href="https://www.linkedin.com/in/daisy-zhou-447a3925">Daisy Zhou, very cool software engineer</a>
<br/>

<h3>small babies</h3>
<a href="/radlibs">rad libs</a>

</body>
</html>
