<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Radlibs Submission</title>
</head>
<body>
<form action="/radlibs/new" method="post">
    Rad Libs must be submitted with a unique name, and a format string like "{noun} is for {plural noun}".
    Descriptions of the fields in the mad lib may be repeated.
    Name: <input type="text" name="name"><br>
    Format string: <input type="text" name="format_str"><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>